
.xidmetler-sec{
    padding: 40px 108px 70px 108px;
}
.xidmet-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
.xidmetler{
    font-size: 48px;
    font-weight: 600;
    color: #001D5B;
}
.xidmetlerpics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.xidmetlerimizpic{
    width: 392px;
    height: 160px;
}
.truckimg{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 28px;
    left: 28px;
}
.ulduz{
    width: 48px;
    height: 105px;
    position: absolute;
    right: 0;
    bottom: 30px;
}
.logisticbox{
    position: relative;
    width: 392px;
    height: 160px;
    background-color: #FAFAFA;
}
.logistic{
    font-size: 18px;
    font-weight: 700;
    color: #001D5B;
}
.avideo{
    font-size: 12px;
    font-weight: 400;
    color: #697A9F;
    width: 234px;
}
.la{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    padding-top: 32px;
    gap: 10px;
}

@media only screen and (max-width: 650px){
    .xidmetler-sec{
        padding: 40px 20px 70px;
    }
    .xidmetler{
        font-size: 30px;
    }
    .hamsi{
        font-size: 16px;
    }
}
@media only screen and (max-width: 410px){
    .logisticbox{
        width: 320px;
    }
    .avideo{
        width: 180px;
    }
}