
.comments-sec{
    height: 500px;
    margin-bottom: 150px;
}
.comments-info{
    display: flex;
    justify-content: space-between;
    padding: 40px 108px 70px 108px;
}
.musteri{
    font-size: 48px;
    font-weight: 600;
}
.musterilorem{
    font-size: 20px;
    font-weight: 400;
    color: #2D2D2D;
    width: 500px;
}
.reviews{
    font-size: 24px;
    font-weight: 600;
    color: #5E5E5E;
}
.total{
    font-size: 40px;
    font-weight: 700;
}

.slider-container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
  }
  
  .card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    margin-right: 25px;
  }
  
  .slick-slide:last-child .card {
    margin-right: 0;
  }
  
  .card img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }
  
  .descr {
    font-size: 16px;
    font-weight: 400;
    color: #989898;
    text-align: left;
    margin: 15px 0px;
  }
  
  .card-name {
    font-size: 18px;
    margin: 15px 0px 10px;
    color: #ffcc4d;
    text-align: left;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #E4E4E4;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 0;
    background-color: #ffcc4d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    color: #fff;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    background-color: #ecac00;
    transform: scale(1.1);
  }
  
  .slick-prev {
    left: -50px;
  }
  
  .slick-next {
    right: -50px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slick-dots{
    display: none !important;
  }
  
  .id {
    color: #989898;
  }
  .star {
    color: #ffcc4d;
    font-size: 21px;
    text-align: start;
    display: flex;
    gap: 3px;
  }
  
  @media (max-width: 768px) {
    .slick-prev {
      left: -30px;
    }
  
    .slick-next {
      right: -30px;
    }
  }
/* .slider-container {
    padding: 50px 120px;
}
.slick-list{
    display: flex !important;
    height: 325px !important;
}
.slick-arrow,
.slick-prev {
    padding: 40px 108px 70px 108px;
    background-color: rgb(204, 204, 204,0) !important;
    color: rgb(204, 204, 204,0) !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}
.slick-next {
    position: absolute;
    top: 105px !important;
    right: -30px !important;
}
.slick-prev {
    position: absolute;
    top: 105px !important;
    left: -50px !important;
}
.cardd{
    width: 392px;
    height: 325px;
}
  
   */